.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1118a4;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}


.navbar-logo {
  margin-left: 2%;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
  text-decoration: none;
}

img{
  max-width: 220px;
  max-height: 100px;
  width: auto;
  height:  auto;
}

.navbar-signup {
  margin-right: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}

.form-login{
  display: flex;
  flex-direction: column;
}

.input{
  margin:2%;
}

.modal-title{
  margin-left:2%;
}

.buttons{
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 590px) {
  img{
    max-width: 150px;
    max-height: 68px;
    width: auto;
    height:  auto;
  }
}

