.sair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.card {
    margin-bottom: 10%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favoritos-title{
    margin-bottom: 10%;
}